.title{
	display: flex;
	align-items: center;
	justify-content: center;
	margin:10px auto;
	font-size:30px;


}

#paragraph{
	font-size:larger;
	font-weight:lighter;
}

#button{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
@media only screen and (max-width: 520px) {
  .title {
    font-size: 1.5rem;
  }
  #paragraph {
    margin: 0 auto;
    font-size: 0.8rem;
  }
  .big-calculator {
    width: 80%;
  }
}
img{
  width: 20%;
}
