/* Edo Font */
@import url('http://fonts.cdnfonts.com/css/edo');

.bg-img {
    background-image: url("../img/Background Image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
	color:#26eab9;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10vh auto;
	font-size: 30px;
	font-family: "Edo";
	font-style: italic;
	font-size: 4rem;
}

.paragraph {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 70%;
	font-size: larger;
	font-weight: lighter;
	color:rgb(244, 244, 244);
	border-radius: 10px;
	padding: 50px;
	margin: 50px;
}

#button {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

@media only screen and (max-width: 520px) {
	.title {
		font-size: 1.5rem;
	}

	.paragraph {
		margin: 0 auto;
		font-size: 0.8rem;
	}
}

img {
	width: 20%;
}
#button a:hover{
background-color:lightgreen;
color:darkgreen;
}
