/* Edo Font */
@import url("http://fonts.cdnfonts.com/css/edo");

.bg-img {
  background-image: url("../img/Background Image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: #26eab9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
  font-size: 30px;
  font-family: "Edo";
  font-style: italic;
  font-size: 4rem;
}

.paragraph {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 70%;
  font-size: larger;
  font-weight: lighter;
  color: rgb(244, 244, 244);
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Adding hover effect to download - start*/

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px black;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #145620;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Adding hover effect to download - end*/

@media only screen and (max-width: 520px) {
  .title {
    font-size: 1.5rem;
  }

  .paragraph {
    margin: 0 auto;
    font-size: 0.8rem;
  }
}

img {
  width: 20%;
}
#button a:hover {
  background-color: lightgreen;
  color: darkgreen;
}
